<div class="container-fluid">
    <br>
    <br>
    <h1 class="partner_class">Partner</h1>
</div>

<br>
<br>
<hr>
<br>
<br>

<div class="container">
    <!--팀플 명단-->
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
              <%=image_tag 'images.jpg', :class => "card-img-top" %>
              <div class="card-body">
                <h5 class="card-title">전명운</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
              <%=image_tag 'images.jpg', :class => "card-img-top" %>
              <div class="card-body">
                <h5 class="card-title">신재훈</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
              <%=image_tag 'images.jpg', :class => "card-img-top" %>
              <div class="card-body">
                <h5 class="card-title">김형회</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
              <%=image_tag 'images.jpg', :class => "card-img-top" %>
              <div class="card-body">
                <h5 class="card-title">정원영</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
              <%=image_tag 'images.jpg', :class => "card-img-top" %>
              <div class="card-body">
                <h5 class="card-title">김규하</h5>
                <p class="card-text">Some quick example text to build on the 김민현 and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
              <%=image_tag 'images.jpg', :class => "card-img-top" %>
              <div class="card-body">
                <h5 class="card-title">김민현</h5>
                <p class="card-text">Some quick example text to build on the 김민현 and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
        </div>
    </div>
    <!--스폰서 이미지 캐러셀-->
  <div>
      <!--Carousel Wrapper-->
        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
        
          <!--Controls-->
          <div class="controls-top">
            <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
            <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
          </div>
          <!--/.Controls-->
        
          <!--Indicators-->
          <ol class="carousel-indicators">
            <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
            <li data-target="#multi-item-example" data-slide-to="1"></li>
            <li data-target="#multi-item-example" data-slide-to="2"></li>
          </ol>
          <!--/.Indicators-->
        
          <!--Slides-->
          <div class="carousel-inner" role="listbox">
        
            <!--First slide-->
          <div class="container-fluid">
            <div class="carousel-item active">
            <div class="row">
              <div class="col-md-4">
                <div class="card mb-2">
                  <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMeoJdVW1UAGfQUmkQKEy12fiM-wgbbEaJ_atKty1Ph-pgzn9Upg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a class="btn btn-primary">Button</a>
                  </div>
                </div>
              </div>
        
              <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card mb-2">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a class="btn btn-primary">Button</a>
                  </div>
                </div>
              </div>
        
              <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card mb-2">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a class="btn btn-primary">Button</a>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <!--/.First slide-->
        
            <!--Second slide-->
            <div class="carousel-item">
              <div class="row">
              <div class="col-md-4">
                <div class="card mb-2">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a class="btn btn-primary">Button</a>
                  </div>
                </div>
              </div>
        
              <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card mb-2">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a class="btn btn-primary">Button</a>
                  </div>
                </div>
              </div>
        
              <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card mb-2">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a class="btn btn-primary">Button</a>
                  </div>
                </div>
              </div>
            </div>  
            </div>
            <!--/.Second slide-->
        
            <!--Third slide-->
            <div class="carousel-item">
              <div class="row">
              <div class="col-md-4">
                <div class="card mb-2">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(53).jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a class="btn btn-primary">Button</a>
                  </div>
                </div>
              </div>
        
              <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card mb-2">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(45).jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a class="btn btn-primary">Button</a>
                  </div>
                </div>
              </div>
        
              <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card mb-2">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(51).jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a class="btn btn-primary">Button</a>
                  </div>
                </div>
              </div>
            </div>  
            </div>
            <!--/.Third slide-->
        
          </div>
          <!--/.Slides-->
        
        </div>
      </div>
        <!--/.Carousel Wrapper-->
        <br>
  </div>
</div>

