<html>
    <head>
    </head>
    <body onload="myFunction()" style="margin: 0;">
        <%=render 'layouts/loding'%>
        <div class="animate-bottom" id="myDiv" style="display:none;">
            <%=render 'layouts/navbar'%>
            <%=render 'layouts/header'%>
            <%=render 'layouts/servise'%>
            <%=render 'layouts/footer'%>
        </div>
    </body>
</html>
