<div class="footer" style="background-color : #E2E2E2;">
		<a href="#" class="backtotop"> Back To Top </a>
	<div class="row">
		<div class="col">
			<b>COMPANY</b>
			<hr class="footer_bar"></hr>
			<ul class="navbar-nav mr-auto" style="text-align: center;">
				<li class="nav-item">
					<%=link_to "회사소개", root_path, :class => "nav-link"%>
				</li>
				<li class="nav-item">
					<%=link_to "블로그", root_path, :class => "nav-link"%>
				</li>
				<li class="nav-item">
					<%=link_to "언론보도", root_path, :class => "nav-link"%>
				</li>
			</ul>
		</div>
		
		<div class="col">
			<b>POLICIES</b>
			<hr class="footer_bar"></hr>
			<ul class="navbar-nav mr-auto" style="text-align: center;">
				<li class="nav-item">
					<%=link_to "이용약관", root_path, :class => "nav-link"%>
				</li>
				<li class="nav-item">
					<%=link_to "개인정보취급방침", root_path, :class => "nav-link"%>
				</li>
			</ul>
		</div>
		
		<div class="col">
			<b>SUPPORT</b>
			<hr class="footer_bar"></hr>
			<ul class="navbar-nav mr-auto" style="text-align: center;">
				<li class="nav-item">
					<%=link_to "FAQ", root_path, :class => "nav-link"%>
				</li>
				<li class="nav-item">
					<%=link_to "공지사항", root_path, :class => "nav-link"%>
				</li>
				<li class="nav-item">
					<%=link_to "이벤트", root_path, :class => "nav-link"%>
				</li>
			</ul>
		</div>
		
		<div class="col" id="kakao_FAQ">
			<b>COMPANY CENTER</b> 
			<hr class="footer_bar"></hr>
			<b><%=image_tag 'kakaoPlus.jpg', :style => "width: 13px; text-size: 13px"%>KAKAO 플러스친구</b>
			<b class="disabled" style="text-size:13px;">kakao plus: company</b>
			
			<table class="table" style="text-align:center;">
				<thead>
					<tr>
						<th style= "padding: 10px;">운영</th>
						<th style= "padding: 10px;">점심</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td style= "padding: 10px;">06~24</td>
						<td style= "padding: 10px;">12~1</td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>
	
	<b style="background-color: #EFEFEF;">
		<hr>
		<div class="col-12">
			<b>CopyLight @KJ`Univ</b>
		</div>
	</b>
</div>